## messageSource=classpath:/commoninitialdata/import/coredata/contentCatalogs/ezgb2cContentCatalog/emails/email-customerRegistration_$lang.properties
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<html>
<head>
</head>
<body>
<p>Dear,</p>
<p>We've received a request to create an  Account using your e-mail address.</p>
<p>You already have an  Account with this e-mail address.</p>
<p>Your account: ${ctx.email}</p>
<p>Your password: ${ctx.password}</p>
</body>
</html>
