## messageSource=classpath:/commoninitialdata/import/coredata/contentCatalogs/ezgb2cContentCatalog/emails/email-forgottenPassword_$lang.properties
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<html>
<head>
</head>
<body>

<p><b>Dear, </b>,</p>
<p>${ctx.messages.sentenceAlmostDone}&nbsp;&nbsp;${ctx.messages.sentenceUpdatePswdInstructions}:&nbsp;<a href="${ctx.secureResetPasswordUrl}">${ctx.displaySecureResetPasswordUrl}</a></p>
<p>${ctx.messages.getMessage('paragraphSecurityNote', ${ctx.expiresInMinutes}, ${ctx.expiresInMinutes})}</p>
<p>${ctx.messages.complimentaryClosing}</p>
<p>${ctx.messages.signature}</p>

</body>
</html>
