#page{
	width:100%;
	padding:0 5px;
	margin:0 auto;

}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
   
    padding-right: 14px;
   
}


#productTabs ul.tabs-list li a, #productTabs .tabHead {
    text-transform: none;
    text-decoration: none;
}

#productTabs ul.tabs-list li a:hover {
    background-color: #eee;
}

body {
    background-color: none;
}

.section1, .section2, .section3, .section4, .section5 {
    padding-top: 0px;
}


.footer {
   border-top: none;
    margin: -100px 0 50px 0;
    padding: 25px 0 0 0;
    clear: both;
}

   