#page{
	padding:0 100px;
}

#header .headerContent {
    float: none;
}

#header .headerContent .nav {
    height: 0px;
}

.btn-lg {
    padding: 22px 16px;
}

.glyphicon {
    top: -1px;
    line-height: 0;
}
